<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h2>{{newsItem.name}}</h2>
             <img src="{{newsItem.image}}" class="card-img-top" alt="..." />
              <p class="card-text">{{newsItem.description}}</p>
        </div>
        <div class="col-lg-3">
            <h2>Thông báo</h2>
            <p>Các tin tức</p>
        </div>
    </div>
</div>