@import '../utilities/variable';
@import '../utilities/mixins';

#mainNav {
    width: 100vw;
    height: 60px;
    z-index: 10;
}

.navbar {
    position: relative;
    // margin-top: 4rem;
    background-color: #474580;
    align-items: center;

    a {
        color: #fff;
    }

    .container {
        height: 100%;
    }

    .navbar-expand-lg .navbar-collapse {
        height: 100%;
    }
}

.sticky {
    position: fixed !important;
    height: 50px !important;
    top: 0;
    // background-color: #6762eb;
    background: linear-gradient(to left, #cd252b, #323c74, #47539b);
    margin-top: 0;

    a {
        color: #fff !important;
    }
}