section .button1, section .button2 {
  background-color: #22a7f0;
  border: 0;
  padding: 5px 10px;
  color: wheat;
}

.header {
  display: block;
  height: 4rem;
  position: relative;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-content .logo .logo-icon {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: auto;
}

.header .header-content .logo .logo-icon img {
  width: 100%;
  height: 100%;
}

.header .header-content .logo .logo-icon .logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-content .logo .logo-title {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.header .header-content .search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 12rem;
}

.header .header-content .search .search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.header .header-content .search .search-item .form-search {
  display: block;
  width: 100%;
  height: 2.3rem;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(109, 83, 83, 0.08);
          box-shadow: inset 0 1px 1px rgba(109, 83, 83, 0.08);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.header .header-content .search .search-item .btn-search {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.2rem;
  color: #fff;
}

.header .header-content .admission-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.3rem;
}

footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer button {
  background-color: #22a7f0;
  border: 0;
  padding: 5px 10px;
  color: wheat;
}

.footer {
  width: 100%;
  float: left;
  height: 100 px;
  background-color: #f1f1f1;
  min-height: 125 px;
}

.footer .footer__main {
  margin: 0 px;
  padding: 0 px;
  width: 980 px;
  float: inherit;
  text-align: center;
  vertical-align: top;
}

.footer .footer__main .license {
  width: 440 px;
  height: 100%;
  margin: 10 px;
  color: black;
  padding-top: 16 px;
  text-align: center;
}

#mainNav {
  width: 100%;
  height: 3.75rem;
  z-index: 10;
}

.navbar {
  position: relative;
  background-color: #474580;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a {
  color: #fff;
}

.navbar .container {
  height: 100%;
}

.navbar .navbar-expand-lg .navbar-collapse {
  height: 100%;
}

.sticky {
  position: fixed !important;
  height: 50px !important;
  top: 0;
  background: -webkit-gradient(linear, right top, left top, from(#cd252b), color-stop(#323c74), to(#47539b));
  background: linear-gradient(to left, #cd252b, #323c74, #47539b);
  margin-top: 0;
}

.sticky a {
  color: #fff !important;
}

.home-page .header-content {
  margin-top: 1rem;
}

.home-page .header-content .home-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20rem;
  border-radius: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #426afd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-page .header-content .home-list .stylized__item {
  width: 50%;
  overflow: hidden;
}

.home-page .header-content .home-list .stylized__item .stylized {
  padding: 1.2rem;
  text-align: center;
}

.home-page .header-content .home-list .stylized__item .stylized i {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 15px;
}

.home-page .header-content .home-list .stylized__item .stylized .icon--grad {
  color: #ffffff00;
  background: linear-gradient(145deg, #426afd, #fdf144);
  -webkit-background-clip: text;
}

.home-page .header-content .home-list .stylized__item .stylized h3 {
  font-size: 1rem;
  color: #f1f1f1;
}

.home-page .header-content .home-list .stylized__item .stylized .desc {
  font-size: 0.75rem;
  color: #e1e8e9;
  margin-bottom: 0;
}

.home-page .header-content .swiper {
  position: relative;
  width: 100%;
  height: 20rem;
  border-radius: 0.6rem;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-page .header-content .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-page .header-content .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 992px) {
  .home-page .header-content .left-side {
    display: none;
  }
}

.home-page .recommended-news .category .category-list {
  max-height: 39rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-page .recommended-news .category .category-list .category-list__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.home-page .recommended-news .category .category-list .category-list__heading .title {
  margin: 0;
  color: #fff;
  font-size: 0.96rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.65rem 1.2rem;
}

.home-page .recommended-news .category .category-list .category-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.6rem 1.2rem;
}

.home-page .recommended-news .category .category-list .category-list__content .list {
  width: 100%;
  list-style: none;
  padding: 0;
}

.home-page .recommended-news .category .category-list .category-list__content .list li > a {
  color: #474580;
  display: block;
  font-size: 0.92rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.39rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home-page .recommended-news .category .category-list .category-list__content .list li a:hover {
  color: #6E73FA;
}

.home-page .recommended-news .category .category-list .category-list__content .list li a:focus {
  color: #22a7f0;
}

.home-page .recommended-news .admission-news .admission-news__heading .title {
  font-size: 1.36rem;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .home-page .recommended-news .category {
    display: none;
  }
}

.home-page .specialized-training .Sub-title {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.home-page .specialized-training .major-list {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-page .infrastructure .infrastructure__content .card {
  overflow: hidden;
}

.home-page .infrastructure .infrastructure__content .card-img-overlay {
  z-index: 1;
}

.home-page .infrastructure .infrastructure__content .card-img-overlay:hover ~ .card-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home-page .infrastructure .infrastructure__content img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

.home-page .infrastructure .infrastructure__content img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home-page .news-events .announcement .announcement-list .announcement-list__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.home-page .news-events .announcement .announcement-list .announcement-list__heading .title {
  margin: 0;
  color: #fff;
  font-size: 0.96rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.65rem 1.2rem;
}

.home-page section .heading--center {
  text-align: center;
}

.home-page section h2 {
  font-size: 1.8rem;
  text-align: center;
  color: #474580;
  text-transform: uppercase;
}

.home-page .highlight-underline {
  line-height: 1.4;
  font-weight: 500;
  margin: 1rem 0 2rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.home-page .highlight-underline::after {
  content: "";
  bottom: -10px;
  height: 1px;
  width: 80%;
  position: absolute;
  border-bottom: 0.2rem solid #f03434;
  left: 0;
  right: 0;
  margin: auto;
}

.banner {
  background-color: #ffffff;
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #424242;
}

.banner img {
  -o-object-fit: fill;
     object-fit: fill;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.button-1 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #801c32;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.42rem 1rem;
  text-align: center;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-filter .2s;
  transition: -webkit-filter .2s;
  transition: filter .2s;
  transition: filter .2s, -webkit-filter .2s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-1:after {
  background-clip: padding-box;
  background-color: #f04d4d;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-1:main,
.button-1:focus {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.button-1:hover:not(:disabled) {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.button-1:disabled {
  cursor: auto;
}

.button-3 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
          box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  -webkit-box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
          box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  -webkit-box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
          box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.bg--dark {
  background-color: #343a40;
}

.bg--white {
  background-color: #FFF;
}

.bg--section {
  background-color: #f1f1f1;
}

.bg--transparent {
  background-color: #ffffff00;
}

.bg--lightEB {
  background-color: #474580;
}

.bg--lightBlue {
  background-color: #ddfafa;
}

.bg--heading {
  background-color: #f03434;
}

body {
  background-color: #ffffff;
}

body a {
  text-decoration: none;
}

section button {
  background-color: #22a7f0;
  border: 0;
  padding: 5px 10px;
  color: wheat;
  background: green;
}

section p {
  font-size: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.display-none {
  display: none !important;
}
/*# sourceMappingURL=index.css.map */