@import 'utilities/variable', 'utilities/mixins', 'utilities/extends';
@import 'layout/header', 'layout/footer', 'layout/navbar';
@import 'themes/background', 'themes/space';
@import 'pages/home';
@import 'components/banner';
@import 'components/button';

html {
    font-size: 15px;
}

body {
    background-color: $background-color;

    a {
        text-decoration: none;
    }
}

section {
    button {
        @include buttonStyle();
        background: green;
    }

    .button1 {
        @extend %buttonStyle;
    }

    .button2 {
        @extend %buttonStyle;
    }

    p {
        font-size: 10px;
    }
}

img {
    width: 100%;
    height: 100%;
}

.display-none {
    display: none !important;
}