.banner {
    background-color: $background-color;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;

    img {
        object-fit: fill;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
}