@import '../utilities/variable';
@import '../utilities/breakPoint';

.home-page {
    .header-content {
        margin-top: 1rem;

        .home-list {
            display: flex;
            flex-wrap: wrap;
            height: 20rem;
            border-radius: 0.6rem;
            box-sizing: border-box;
            border: 1px solid #426afd;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .stylized__item {
                width: 50%;
                overflow: hidden;

                .stylized {
                    padding: 1.2rem;
                    text-align: center;

                    i {
                        font-size: 1.8rem;
                        display: block;
                        margin-bottom: 15px;
                    }

                    .icon--grad {
                        color: $transparent;
                        background: linear-gradient(145deg, #426afd, #fdf144);
                        -webkit-background-clip: text;
                    }

                    h3 {
                        font-size: 1rem;
                        color: $whiteT;
                    }

                    .desc {
                        font-size: 0.75rem;
                        color: $lightT;
                        margin-bottom: 0;
                    }
                }
            }
        }

        // .slider {
        //     height: 20rem;
        //     width: 100%;
        //     border-radius: 0.6rem;
        //     overflow: hidden;
        //     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        //     &>img {
        //         width: 100%;
        //     }
        // }

        .slider {
            position: relative;
            // width: calc(100% - );
            width: 60%;

            .swiper {
                .next-slide,
                .prev-slide {
                    visibility: hidden;

                    &::after {
                        font-size: 1.2rem;
                        font-weight: 800;
                    }
                }

                // &:hover {
                //     transform: scale(2.1);
                // }

                &:hover .next-slide,
                &:hover .prev-slide {
                    visibility: visible;
                    &::after {
                        background: -webkit-linear-gradient(360deg, #54e0a6, #fdf144);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .swiper-pagination-bullet {
                // background-color: $whiteT;
            }

            .swiper-pagination-bullet-active {
                background-color: $deepSkyBlue;
            }
        }


        .swiper {
            position: relative;
            width: 100%;
            height: 20rem;
            border-radius: 0.6rem;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
        }

        @media only screen and (max-width: $_992) {
            .left-side {
                display: none;
            }
        }
    }



    .recommended-news {

        .category {

            .category-list {
                max-height: 39rem;
                height: fit-content;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                box-sizing: border-box;

                .category-list__heading {
                    width: 100%;
                    display: flex;
                    border-top-left-radius: 0.2rem;
                    border-top-right-radius: 0.2rem;

                    .title {
                        margin: 0;
                        color: #fff;
                        font-size: 0.96rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 0.65rem 1.2rem;
                        // text-align: center;
                    }
                }

                .category-list__content {
                    display: flex;
                    width: 100%;
                    padding: 0.6rem 1.2rem;

                    .list {
                        width: 100%;
                        list-style: none;
                        padding: 0;

                        li {
                            &>a {
                                color: $eastBay;
                                display: block;
                                font-size: 0.92rem;
                                font-weight: 500;
                                line-height: 1.5rem;
                                padding: 0.39rem 0;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }

                            a:hover {
                                color: $blueDam;
                            }

                            a:focus {
                                color: $blue-light;
                            }
                        }
                    }
                }
            }
        }

        .admission-news {
            .admission-news__heading {
                .title {
                    font-size: 1.36rem;
                    margin-bottom: 0.9rem;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }

            .admission-news__content {
                .card {
                    margin-bottom: 1.2rem;
                }
            }
        }

        @media only screen and (max-width: $_992) {
            .category {
                display: none;
            }
        }

    }

    .college-admissions {
        .college-admissions__content {
            position: relative;

            // padding-bottom: 1.5rem;
            .card {
                margin-bottom: 1.5rem;
            }
        }
    }

    .specialized-training {
        .Sub-title {
            font-size: 1.3rem;
            text-transform: uppercase;
        }

        .major-list {
            justify-content: space-evenly;
            // justify-content: space-around;
            padding: 0.9rem 0;
            // .card {
            //     margin-right: 3rem;
            // }
        }
    }

    .infrastructure {
        padding-bottom: 1.2rem;

        .infrastructure__content {
            position: relative;

            // padding-bottom: 1.5rem;
            // display: block;
            .center-content {
                position: relative;
            }

            .infrastructure-slider {
                .card {
                    height: 100%;
                }

                .infrastructure-card {
                    width: 100%;
                    height: 100%;
                }

                .infrastructure-info {
                    display: none;
                    padding: 0.6rem 0.9rem;
                    transition: all 1s;
                }

                .infrastructure-image {
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

                    &:hover~.infrastructure-info {
                        display: block;
                    }
                }
            }

            .swiper {
                height: 15rem;

                .card {
                    overflow: hidden;

                    .card-img-overlay {
                        z-index: 1;

                        // background-color: rgba(0, 0, 0, 0.1);
                        &:hover {
                            ~.card-img {
                                transform: scale(1.1);
                            }
                        }

                        &:hover {
                            .infrastructure-info {
                                display: block;
                                background-color: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }

                    img {
                        transform: scale(1);
                        transition: 1s;

                        &:hover {
                            transform: scale(1.1);
                        }

                        &:hover~.infrastructure-info {
                            display: block;
                        }
                    }
                }
            }

            .next-card {
                color: $eastBay;
                position: absolute;
                right: -2rem;

                &::after {
                    font-size: 1.2rem;
                    font-weight: 800;
                }
            }

            .prev-card {
                color: $eastBay;
                position: absolute;
                left: -2rem;

                &::after {
                    font-size: 1.2rem;
                    font-weight: 800;
                }
            }
        }
    }

    .news-events {
        .news-events__heading {
            text-align: center;

            .highlight-underline {
                margin-top: 0;
            }
        }

        .news-events__content {
            .card {
                margin-top: 1.2rem;
            }
        }

        .announcement {
            .announcement-list {
                .announcement-list__heading {
                    width: 100%;
                    display: flex;
                    border-top-left-radius: 0.2rem;
                    border-top-right-radius: 0.2rem;

                    .title {
                        margin: 0;
                        color: #fff;
                        font-size: 0.96rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 0.65rem 1.2rem;
                    }
                }
            }
        }
    }

    .activities {
        .activities__heading {
            position: relative;
        }
    }

    section {
        .heading--center {
            text-align: center;
        }

        h2 {
            font-size: 1.8rem;
            text-align: center;
            color: $eastBay;
            text-transform: uppercase;
        }
    }

    .highlight-underline {
        line-height: 1.4;
        font-weight: 500;
        margin: 1rem 0 2rem;
        position: relative;
        display: inline-block;
        text-transform: uppercase;

        &::after {
            content: "";
            bottom: -10px;
            height: 1px;
            width: 80%;
            position: absolute;
            border-bottom: 0.2rem solid #f03434;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}