@import '../utilities/variable';

.home-page {
    .header-content {
        margin-top: 1rem;

        .home-list {
            display: flex;
            flex-wrap: wrap;
            height: 20rem;
            border-radius: 0.6rem;
            box-sizing: border-box;
            border: 1px solid #426afd;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .stylized__item {
                width: 50%;
                overflow: hidden;

                .stylized {
                    padding: 1.2rem;
                    text-align: center;

                    i {
                        font-size: 1.8rem;
                        display: block;
                        margin-bottom: 15px;
                    }

                    .icon--grad {
                        color: $transparent;
                        background: linear-gradient(145deg, #426afd, #fdf144);
                        -webkit-background-clip: text;
                    }

                    h3 {
                        font-size: 1rem;
                        color: $whiteT;
                    }

                    .desc {
                        font-size: 0.75rem;
                        color: $lightT;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .slider {
            height: 20rem;
            width: 100%;
            border-radius: 0.6rem;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            &>img {
                width: 100%;
            }
        }
    }

    .news-section {
        .category {
            display: flex;
            flex-wrap: wrap;
            min-height: 20rem;
            border-radius: 0.6rem;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}