<div class='full-banner bg--section'>
    <div class='container'>
        <div class='banner'>
            <img
                class='banner-desc'
                src='http://ts.actvn.edu.vn/Upload/svda/pano-tren-1-thankyou.jpg'
                alt=''
            />
        </div>
    </div>
</div>