<div class='footer'>
    <center>
        <div class='footer__main'>
            <div class='license'>
                <p> Made by LTL</p>
                {{!-- <p><strong>Cơ quan chủ quản: Học viện Kỹ thuật Mật mã</strong><br
                    />
                    Giám đốc Học viện:TS. Nguyễn Hữu Hùng<br />
                    Add: 141 đường Chiến Thắng, Tân Triều, Thanh Trì, Hà Nội<br
                    />
                    Tel: 024.38544244<br />
                    Email: contact@actvn.edu.vn<br />
                    Website: www.actvn.edu.vn
                </p> --}}
            </div>
            <input type='hidden' id='txtRoot' value='http://ts.actvn.edu.vn' />
        </div>
    </center>
</div>