<div>
    <div class='container'>
        <div class='title'>
            <a href='http://tuyensinh.actvn.edu.vn/' class='logo'><img
                    src='/https://i.imgur.com/4Ya1Epf.png'
                    alt='logo'
                /></a>

            <div class='right-item flex-list'>
                <div
                    class='fmr-search'
                    data-toggle='modal'
                    data-target='#myModalsearch'
                >
                    <input
                        type='text'
                        class='form-control'
                        placeholder='Tìm kiếm...'
                    />
                    <a href='javascript:void(0)' class='btn-modal btn-search'><i
                            class='fas fa-search'
                        ></i></a>
                </div>
            </div>
        </div>
    </div>
</d>