<div class='swiper mySwiper image-slider'>
    <div class='swiper-wrapper slider'>
        <div class='swiper-slide'>
            <img
                src='http://ts.actvn.edu.vn/Upload/svda/treo-tuong-web-1.jpg'
                alt=''
            />
        </div>
        <div class='swiper-slide'>
            <img
                src='https://hocvientaichinh.com.vn/wp-content/uploads/2018/04/truong-xet-hoc-ba.jpg'
                alt=''
            />
        </div>
        <div class='swiper-slide'>
            <img
                src='https://ap.cdnki.com/dai-hoc-cong-lap-nao-diem-chuan-thap-nhat-nam-2022---d6419ba95e6cce3ca5a278d3993f7588.wepb'
                alt=''
            />
        </div>
    </div>
    <div class="swiper-button-next next-slide"></div>
    <div class="swiper-button-prev prev-slide"></div>
    <div class="swiper-pagination"></div>
</div>

 {{!-- <div class="swiper mySwiper image-slider">
      <div class="swiper-wrapper slider">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div> --}}


<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".image-slider", {
    spaceBetween: 0,
    centeredSlides: true,
    slidesPerView: 1,
    loop: true,
    effect: 'fade',
    fadeEffect: {
        crossFade: true
    },
    autoplay: {
        delay: 4500,
        disableOnInteraction: false,
    },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    });
</script>