<div class="mt-2">
    <form method="post" action="/news">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Keywords</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập...">
            <div id="emailHelp" class="form-text">Tìm kiếm thông tin về tuyển sinh.</div>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>