@mixin buttonStyle {
    background-color: $blue-light;
    border: 0;
    padding: 5px 10px;
    color: wheat;
}

@mixin error($bgColor){
    border: 1px solid $bgColor;
    background-color: #fdd;
}


@mixin bgColor($bgColor){
    background-color: $bgColor;
}